<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BagTracker</title>
</head>
<body>
  <h1>Ferramente de relato de Bugs</h1>
  <p>Preencha todos os dados a seguir</p>
  <form method="post" action="">
    <label for="name">Nome: </label>
    <input type="text" id="name" name="name" />
    <label for="email">E-mail: </label>
    <input type="text" id="email" name="email" />
    <label for="issueType">Classificação:  </label>
    <select type="text" id="issueType" name="issueType">
      <option>Baixa</option>
      <option>Média</option>
      <option>Alta</option>
    </select>
    <label for="howToReproduce">Como reproduzir o erro ? </label>
    <input type="text" id="howToReproduce" name="howToReproduce" />
    <label for="expectedOuput">A saída esperada ? </label>
    <input type="text" id="expectedOuput" name="expectedOuput" />
    <label for="receivedOuput">A saída recebida ? </label>
    <input type="text" id="receivedOuput" name="receivedOuput" />

    <button> Enviar Solicitação </button>
  </form>
</body>
</html>